name: Develop
on:
  pull_request:
    branches: [ dev ]
jobs:
  detect-changes:
    steps:
      - uses: actions/checkout@v4
        with:
          repository: hamsaqua/script
          fetch-depth: 1
          path: ${{ runner.temp }}/script
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - run: bash ${{ runner.temp }}/script/app/develop
        id: detect
    outputs:
      matrix: ${{ steps.detect.outputs.matrix }}
    runs-on: ubuntu-latest
  develop:
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
          sparse-checkout: |
            ${{ matrix.scope }}/${{ matrix.service }}
            settings.gradle
            */build.gradle
            gradle/
            gradlew
      - uses: hamsaqua/action/.github/actions/develop-app@main
        with:
          scope: ${{ matrix.scope }}
          service: ${{ matrix.service }}
        env:
          GITHUB_ACTOR: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.CONTRACT_PAT }}
    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJSON(needs.detect-changes.outputs.matrix) }}
    needs: detect-changes
    runs-on: ubuntu-latest
