name: Initial Service
on:
  repository_dispatch:
    types: [ initial-service ]
jobs:
  init-service:
    steps:
      - uses: actions/checkout@v5
        with:
          ref: dev
      - uses: actions/checkout@v5
        with:
          repository: ${{ vars.REPO_TEMPLATE }}
          sparse-checkout: service
          path: ${{ runner.temp }}
      - uses: ${{ vars.REPO_SCRIPT }}/.github/actions/${{ vars.SCRIPT_INIT_SERVICE }}@main
        with:
          scope: ${{ github.event.client_payload.scope }}
          service: ${{ github.event.client_payload.service }}
      - uses: ${{ vars.REPO_ACTION }}/.github/actions/${{ vars.ACTION_INIT_SERVICE }}@main
        with:
          scope: ${{ github.event.client_payload.scope }}
          service: ${{ github.event.client_payload.service }}
          ssh: ${{ secrets.SSH_RELEASE }}
    runs-on: ubuntu-latest
