name: Initial Scope
on:
  repository_dispatch:
    types: [ initial-scope ]
jobs:
  init-scope:
    steps:
      - uses: actions/checkout@v5
        with:
          ref: dev
      - uses: actions/checkout@v5
        with:
          repository: ${{ vars.TEMPLATE_REPO }}
          sparse-checkout: scope
          path: ${{ runner.temp }}
      - uses: ${{ vars.REPO_SCRIPT }}/.github/actions/${{ vars.SCRIPT_INIT_SCOPE }}@main
        with:
          scope: ${{ github.event.client_payload.scope }}
      - uses: ${{ vars.REPO_ACTION }}/.github/actions/${{ vars.ACTION_INIT_SCOPE }}@main
        with:
          scope: ${{ github.event.client_payload.scope }}
          ssh: ${{ secrets.SSH_RELEASE }}
    runs-on: ubuntu-latest
